.layout{
    .page{
        margin-left: 4rem;
        display: flex;
        flex-direction: column;
    }
}


.tags{
    font-family: 'La Belle Aurore';
    margin-left: 0.8rem;
}
.top-tags{
    margin-top: 2rem;
}
.bottom-tags{
    margin-top: 33rem;
}
// .contact{
//     .bottom-tags{
//         margin-top: 36rem !important;
//     }
// }
.body-tags{
    margin-left: 2rem;
}
.tag-4{
    margin-top:-1rem;
}