@import '../layout/button.scss';

$tomato: #ff5f5f;
$black: #2c2c2c;

@mixin animation($delay) {
  animation: backInLeft 1s $delay;
  animation-fill-mode: backwards;
}

.contact {
  color: $black;
  margin-left: 6.2rem;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 5rem;
  width: 35rem;

  animation: pulse 1s;
  animation-fill-mode: forwards;

  .h1 {
    font-size: 1.9rem;

    &::before {
      content: '<h1>';
      font-size: 65%;
      color: $tomato;
      font-family: 'La Belle Aurore';
      position: absolute;
      left: -3.2rem;
      top: 2.8rem;

      @include animation(2.9s);
    }

    &::after {
      content: '</h1>';
      font-size: 65%;
      color: $tomato;
      font-family: 'La Belle Aurore';
      position: absolute;
      left: 21.6rem;
      top: 4.8rem;

      @include animation(2.8s);
    }
  }
  .p {
    margin-top: -1.5rem;

    @include animation(2.4s);
  }
}

//---------------------------------form

.form {
  margin-top: 1.5rem;
  width: 35rem;
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
    animation: fadeInUp 1.5s 1s;
    animation-fill-mode: backwards;
  }
}

input,
textarea {
  border: none;
  font-family: Helvetica, Arial, sans-serif;
  background-color: $black;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.8rem;
  margin-bottom: 0.6rem;
}


input[type='text'] {
  min-width: 44%;
}

input[type='email'] {
  position: absolute;
  width: 242px;
}




.email {
  position: absolute;
  margin-left: 18rem !important;
  margin-top: -3.1rem !important;
}

.subject {
  min-width: 95% !important;
}
.message {
  min-width: 95%;
  height: 5rem;
}

.pulse {
  font-size: 1.2rem !important;
  padding: 0.3rem;
  float: right;
  font-family: Helvetica, Arial, sans-serif;
  background-color: transparent;
  border: 1px solid $tomato;
  color: $tomato;
}

//---------------------------------map

.map-wrap {
  background: rgba(8, 253, 216, 0.1);
  width: 53%;
  height: 115%;
  margin-top: -3%;
}

.leaflet-container {
  position: absolute;
  width: 50%;
  height: 120%;
  left: 50rem;
  top: -5rem;
  opacity: 0;
  animation: backInRight 1s 1.2s;
  animation-fill-mode: forwards;
}

.info-map {
  position: absolute;
  background: #000;
  top: 7.5rem;
  right: 24%;
  z-index: 999999;
  width: 267px;
  padding: 20px;
  color: #fff;
  font-family: 'Helvetica';
  font-size: 17px;
  font-weight: 300;
  opacity: 0;
  animation: fadeIn 1s 2.5s;
  animation-fill-mode: forwards;
}


::placeholder {
  color: #fff;
  opacity: 0.4;
}