body {
  margin: 0;
  padding: 0;
  background-color: #fcfcfc;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 968px) {
  body {
    display: none;
  }
}
